<h1><%= @deck.name %></h1>

<% nonland_permanents.each do |card| %>
  <h3>Name: </h3>
  <%= card.name %>

<% end %>

<h3>average converted mana cost</h3>
<%= average_cmc_calculator %>
<h3>Total Cards:</h3>
<%= deck_length %>
<h3>Total creatures:</h3>
<%= creature_count %>
<h3>Spot removal:</h3>
<%= spot_removal %>
<h3>Board Wipes</h3>
<%= board_wipes %>
<h3>Ramp</h3>
<%= mana_ramp %>
<h3>Card Draw</h3>
<%= card_draw %>

<h3>Basic Lands</h3>

<% basic_lands.each do |card| %>
  <p> <%= card %> - <%= land_cards.where(name: card).length %> copies </p>
<% end %>

<h3>Non-Basic Lands</h3>

<% non_basic_lands.each do |card| %>
  <p><%= card.name %></p>
<% end %>
