<h1><%= @deck.name %></h1>

<% @deck.cards.each do |card| %>
  <h3>Name: </h3>
  <%= card.name %>

<% end %>

<h3>average converted mana cost</h3>
<%= average_cmc_calculator %>
<h3>Total Cards:</h3>
<%= deck_length %>
<h3>Total creatures:</h3>
<%= creature_count %>
<h3>Spot removal:</h3>
<%= spot_removal %>
<h3>Board Wipes</h3>
<%= board_wipes %>
<h3>Ramp</h3>
<%= mana_ramp %>
<h3>Card Draw</h3>
<%= card_draw %>
